doctype html
html
  head
    meta(charset='UTF-8')
    title mkpasswd
    meta(name='description', content='mkpasswd')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/styles/application.min.css",rel="stylesheet",type="text/css")
    link(rel="shortcut icon", href="/resources/favicon.ico")

  body
    h1 mkpasswd
    div#contents
      here
    script(src="/scripts/application.min.js",charset='UTF-8')
